@model AlterarSenhaModel
@{
    @using ControleDeContatos.Enums;
    ViewData["Title"] = "Alterar senha do usuário";
}

<div class="text-center">
    <h1 class="display-4">Alterar senha do usuário</h1>

</div>

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<form asp-controller="AlterarSenha" asp-action="Alterar" method="post">


    <div class="mb-3>
        <label for="senha" class="form-label">Senha atual</label>
        <input type="password" asp-for="SenhaAtual" class="form-control" id="senha" placeholder="Digite a senha atual do usuário">
        @Html.ValidationMessageFor(x => x.SenhaAtual)
    </div>
    <br />

    <div class="mb-3>
        <label for="novaSenha" class="form-label">Nova Senha</label>
        <input type="password" asp-for="NovaSenha" class="form-control" id="novasenha" placeholder="Digite a nova senha do usuário">
        @Html.ValidationMessageFor(x => x.NovaSenha)
    </div>
    <br />

    <div class="mb-3>
        <label for="confirmarSenha" class="form-label">Confirme a senha</label>
        <input type="password" asp-for="ConfirmarNovaSenha" class="form-control" id="confirmarSenha" placeholder="Digite a confirmação da nova senha do usuário">
        @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)
    </div>

    <br />




    <button type="submit" class="btn btn-primary btn-block">Atualizar senha</button>
    <a class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</form>

