@model UsuarioModel
@{
    @using ControleDeContatos.Enums;
    ViewData["Title"] = "Criar usuário";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar usuário</h1>
    
</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Digite o nome do usuário">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Digite o endereço de e-mail</label>
        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o endereço de e-mail do usuário">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="login" class="form-label">Digite o login do usuário</label>
        <input type="text" asp-for="Login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o login do usuário">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="mb-3">
        <label for="login" class="form-label">Digite a senha do usuário</label>
        <input type="password" asp-for="Senha" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite a senha do usuário">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <div class="mb-3">
        <label for="login" class="form-label">Perfil</label>
        <select class="form-control" asp-for="Perfil">
            <option value="0">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>

    </div>





    <button type="submit" class="btn btn-primary btn-block">Criar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Criar" role="button">Voltar</a>
</form>

